

.rosso{
  background-color: red;
  border-left: 1px solid black;
}
h3{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50% , -50%);
}
[class*='col-']{
  position:relative;
}
.green{
  background-color: green;
  border-left: 1px solid black;
}
.yellow{
  background-color: yellow;
  border-left: 1px solid black;
}
.salmon{
  background-color: salmon;
  border-left: 1px solid black;
}
.blue{
  background-color: blue;
  border-left: 1px solid black;
}.orange{
  background-color: orange;
  border-left: 1px solid black;
}
